/* variabler (også kaldet "custom properties") */
:root { /* i HTML-dokumenter er root det samme som <html> */
    --brand-color1: #8de2e7;
    --brand-color2: #191970;
    --brand-color3: #fc74fd;
    --brand-color4: #a4feef;
    --brand-color-mb: ;
    --brand-color-mt: ;
    --brand-font-title: helvetica, sans-serif;
    --brand-font-text: tahoma, arial, sans-serif;
    --space: 21px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background:
}

.topnav {
  background: var(--brand-color1);
  color:
  height: 50px;
  display: flex;
}

.topnav .pages {
  display: flex;
  color:
}
