/* variabler (også kaldet "custom properties") */
:root {
  /* i HTML-dokumenter er root det samme som <html> */
  --brand-color1: #191970;
  /*Phantom blue*/
  --brand-color3: #FC74FD;
  /*pink flamingo*/
  --brand-color4: #A45ee5;
  /*amethyst*/
  --brand-color6: #efefef;
  /*Lysegrå*/
  --brand-font-title: helvetica, sans-serif;
  --brand-font-text: tahoma, arial, sans-serif;
}

/*Universal info*/
* {
  padding: 0;
  margin: 0;
}

nav {
  background: #403E3C;
  text-align: right;
  align-items: right;
}

#indexLink a:hover {
  color: var(--brand-color6)
}

nav a {
  color: var(--brand-color6)
}

nav a:hover {
  color: #C5C5DB
}

body {
  background: #E6DFD8;
  font-family: var(--brand-font-text);
}

.footer {
  background-color: #403E3C;
  color: #efefef;
}

/*Forside*/
#forsideVideo {
  width: 100%;
  height: auto;
}

.aboutUs {
  margin-top: 2%;
  font-size: 150%;
}

#Line1 {
  padding: 1%;
  background: #403E3C;
  color: #efefef;
  text-align: center;
  font-family: arial;
}

/*Festival side*/
.infobox1 {
  border: solid #6a0dad;
  margin-bottom: 1%;
  background-color: #CDC6BE;
}

.infobox2 {
  border: solid #ff00ff;
  margin-bottom: 1%;
  background-color: #CDC6BE;
}

.learnMoreKnap1 {
  background-color: var(--brand-color1);
  border: none;
  color: var(--brand-color6);
}

.learnMoreKnap1:hover {
  background-color: var(--brand-color4);
}

.learnMoreKnap2 {
  background-color: var(--brand-color1);
  border: none;
  color: var(--brand-color6);
}

.learnMoreKnap2:hover {
  background-color: var(--brand-color3);
}

#seeMoreLess a {
  color: var(--brand-color6);
}

#seeMoreLess a:hover {
  color: #a6a6a6;
}

#seeMoreLess button {
  color: var(--brand-color4);
}

/*Festivalsundersider*/
.infobox3 {
  margin-bottom: 2.5%;
  background-color: #B6B0A9;
}

#festivalKnap1 {
  display: table;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 1%;
  background-color: var(--brand-color1);
  border: none;
}

#festivalKnap1:hover {
  background-color: var(--brand-color4);
}

#festivalKnap2 {
  display: table;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 1%;
  background-color: var(--brand-color1);
  border: none;
}

#festivalKnap2:hover {
  background-color: var(--brand-color3);
}

/*slideshows til festivals undersider*/
#slideshow {
  display: flex;
  width: auto;
  position: relative;
  height: 350px;
  align-items: center;
  text-align: center;
}

#slideshow IMG {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
}

#slideshow IMG.active {
  z-index: 10;
}

#slideshow IMG.last-active {
  z-index: 9;
}

.infotext {
  margin-top: 2%;
}

/*Guide-side*/
.packingList {
  display: block;
  align-items: center;
  text-align: center;
}

/*Kontaktside*/
#contact-form {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: table;
  margin-right: 1%;
}

#kontaktKnap {
  display: table;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background: var(--brand-color1);
  color: var(--brand-color6);
  border: none;
}

#kontaktKnap:hover {
  background: var(--brand-color4);
}

.kontaktKnap1 {
  display: table;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background: var(--brand-color1);
  color: var(--brand-color6);
  border: none;
}

.kontaktKnap1:hover {
  background: var(--brand-color4);
}

#kontaktInfo {
  margin-top: 2%;
}

#fyldeDiv {
  margin-top: 4%;
}

/*Footer*/
footer a {
  color: #efefef;
}

footer a:hover {
  color: #c5c5db;
}

footer i {
  font-size: 170%;
  margin-top: 5.5%;
}
